.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.calculadora {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.titulo {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.numeros {
  margin-bottom: 15px;
}

.text {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.inputnum {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.botones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button {
  font-size: 1em;
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #8c9daf;
  color: #fff;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #87a0bb;
}

.resultado {
  margin-top: 20px;
  font-weight: bold;
  color: #333;
  text-align: center;
}